# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
# python
*.so
*.egg
*.egg-info
dist
build

# My configurations:
*.jpg
*.kdev4
*.bmp
*.idea
*.mp4
*.gz
*.zip
*.exe
venv
Debug
*.sln
*.rc2
*.vcxproj
*.filters
*.rc
*.aps
robot/yhcxp3.0/.vs/yhcxp/v14/.suo
*.jpeg
*.mat
*.tmw
*.autosave
*.pyd
*.pyc
*.png
*.gif
detecter/my_elas/.vs/my_elas/v14/.suo
*.pgm
*.ipch
*.db
detecter/surf_orb_sift/.vs/surf_orb_sift/v14/.suo
surf/match/.vs/match/v14/.suo
surf/mysurf/.vs/mysurf/v14/.suo
*.suo
*.ahk
*.dll
