<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - 一个人的朋友圈</title>
    {% endblock %}
  </head>
<body>
  <div id="header">{% block header %}{% endblock %} </div>
  <div id="content">{% block content %}{% endblock %}</div>
  {% macro render_dialog(title, class='dialog') -%}
    <div class="{{ class }}">
        <h2>{{ title }}</h2>

    </div>
{%- endmacro %}

{% call render_dialog('Hello World') %}
    This is a simple dialog rendered by using a macro and
    a call block.
{% endcall %}
  <div>{{ render_dialog('aaa') }}</div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2018 by <a href="http://sunyehao.com">sun yehoo</a>.
    {% endblock %}
  </div>
</body>
</html>